<div class="hidden">
	<button data-target="#sidebar2" data-toggle="collapse" type="button" class="pull-left navbar-toggle collapsed">
		<span class="sr-only">Toggle sidebar</span>

		<i class="ace-icon fa fa-dashboard white bigger-125"></i>
	</button>

	<div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse">
		<ul class="nav nav-list">
			<li class="hover">
				<a href="index.html">
					<i class="menu-icon fa fa-tachometer"></i>
					<span class="menu-text"> 控制面板 </span>
				</a>

				<b class="arrow"></b>
			</li>

			<li class="hover">
				<a href="#">
					<i class="menu-icon fa fa-list-alt"></i>
					<span class="menu-text">订单</span>
				</a>

				<b class="arrow"></b>
			</li>

			<li class="hover">
				<a href="#">
					<i class="menu-icon glyphicon glyphicon-user"></i>
					<span class="menu-text">会员 </span>
				</a>

				<b class="arrow"></b>
			</li>

			<li class="hover">
				<a href="#">
					<i class="menu-icon fa fa-picture-o"></i>
					<span class="menu-text"> 商品 </span>
				</a>

				<b class="arrow"></b>
			</li>

			<li class="hover">
				<a class="dropdown-toggle" href="#">
					<i class="menu-icon fa fa-tag"></i>
					<span class="menu-text"> 报表</span>
				</a>
			</li>
		</ul><!-- /.nav-list -->
	</div><!-- .sidebar -->
</div>