<include file="./Layout/header" />
				<div class="page-content">
					
					<!-- 顶部栏目 -->
					<include file="./Layout/top_menu" />
					<!-- /顶部栏目 -->
					
					<div class="page-header">
						<h1>Two menu2 </h1>
					</div><!-- /.page-header -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
								message
							
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			
<include file="./Layout/footer" />